=form_tag ' ',method: :put do 
	table.table
		-@properties.each do |property|
			tr
				td
					=check_box_tag 'property[]',property.id,property.filterable == true ? "checked": nil
				td
					label	
						=property.name
		tr
			td
				button.btn.btn-primary type="submit" make filterable