ul.nav.nav-sidebar
    / = tab Spree::Filter, url: spree.admin_pages_url, icon: 'leaf', label: plural_resource_name(Spree::filter) 
    = tab *Spree::BackendConfiguration::FILTER_TABS, url: "/admin/filter", icon: 'picture'